<!DOCTYPE html>
<html>
<head>
  <title>Property Finder</title>
  <div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Menu</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/home">Home</a>
    <a href="/add">Properties</a>
    <a href="/roommate">Find a roommate</a>
    <a href="/account">Manage Your Account</a>
    <a href="/resource">Resources</a>
    <a href="/contact">Contact Us</a>
  </div>
</div>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAw19EK4YioNzJwsDKG3C5PxTSX5Q4Rvt8"
          type="text/javascript"></script>
	
	<!--Functions for submitting form with filters-->
	<script>
	  
		function submitFilterForm() {
			// Get values from form fields
			const minPrice = document.getElementById('minPrice').value;
			const maxPrice = document.getElementById('maxPrice').value;
			const beds = document.getElementById('beds').value;
			const bath = document.getElementById('bath').value;
			const type = document.getElementById('type').value;
			const size = document.getElementById('size').value;
			const amenities = document.getElementById('amenities').value;
			const sort = document.getElementById('sort').value;
	  
		// Send a POST request to the server with filter criteria
		fetch('/filter', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify({
			minPrice: minPrice,
			maxPrice: maxPrice,
			beds: beds,
			bath: bath,
			type: type,
			size: size,
			amenities: amenities,
			sort: sort,
		}),
		})
		.then((response) => response.json())
		.then((data) => {
			// Handle the response data
			updateFilteredProperties(data.properties);
		})
		.catch((error) => {
			console.error('Error:', error);
		});
		}

		function updateFilteredProperties(properties) {
		// Get the container for filtered properties
		const filteredPropertiesContainer = document.getElementById('filtered-properties');

		// Clear existing content
		filteredPropertiesContainer.innerHTML = '';

		// Check if there are properties to display
		if (properties && properties.length > 0) {
		// Create an unordered list
		const ul = document.createElement('ul');

		// Loop through properties and create list items
		properties.forEach((property) => {
			const li = document.createElement('li');

			// Create HTML content for each property
			li.innerHTML = `
				<li class="property-item">
					<!-- Make property image clickable and link to the property website -->
					<a href="${property.website}" target="_blank">
						<!-- Display property image on the left -->
						<div class="property-image">
							<img src="${property.image_url}" alt="${property.name} Image">
						</div>
					</a>

					<!-- Display property details on the right -->
					<div class="property-details">
						<h3>${property.name}</h3>
						<h4>${property.address.street}, ${property.address.city}, ${property.address.state}</h4>
						<p>$${property.details.price} | ${property.details.bedrooms} Bed / ${property.details.bathrooms} Bath / ${property.details.square_footage} sq ft</p>
						${property.amenities
							? `<p>Amenities: 
								${property.amenities.parking ? 'Parking ' : ''}
								${property.amenities.pets_allowed ? 'Pets Allowed ' : ''}
								${property.amenities.pool ? 'Pool ' : ''}
								${property.amenities.furnished ? 'Furnished ' : ''}
							</p>`
							: '<p>No amenities specified</p>'}
						<p>Type: ${property.type}</p>
						<p><a href="${property.website}" target="_blank">Website</a></p>
					</div>
				</li>`;

			// Append list item to the unordered list
			ul.appendChild(li);
		});


		// Append the unordered list to the container
		filteredPropertiesContainer.appendChild(ul);
		} else {
			// If no properties are found, display a message
			filteredPropertiesContainer.innerHTML = '<p>No properties found.</p>';
			}
		}
    </script>
    <script>
          /* When the user clicks on the button,
          toggle between hiding and showing the dropdown content */
          function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
          }

          // Close the dropdown if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }

          function msg() {
            window.location.href = "/log";
          }
	</script>
	  <style>
		/* Style for the form container */
		#filterForm {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 47px;
		background-color: white;
		}
	
		/* Style for form labels */
		#filterForm label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
		}
	
		/* Style for form inputs */
		#filterForm input,
		#filterForm button {
		flex: 1;
		padding: 10px;
		margin: 5px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		}
	
		/* Style for the submit button */
		#filterForm button {
		background-color: #1D5D27;
		color: #fff;
		cursor: pointer;
		}
	
		#filterForm button:hover {
		background-color: #15441C;
		}
	</style>
</head>
<body>
  <img src="unt housing logo 4.png" alt="UNT Student Off-Campus Housing Logo" style="width:300px;height:90px;">
  <form>
  <input type="button" value="Sign in/Sign up" onclick="msg()">
</form>

  <!-- Form for filtering -->
  <form id="filterForm" onsubmit="submitFilterForm(); return false;">
    <label for="minPrice">Minimum Price:</label>
    <input type="text" id="minPrice" name="minPrice">

    <label for="maxPrice">Maximum Price:</label>
    <input type="text" id="maxPrice" name="maxPrice">

    <label for="beds">Beds:</label>
    <input type="text" id="beds" name="beds">

    <label for="bath">Bath:</label>
    <input type="text" id="bath" name="bath">

    <label for="type">Type:</label>
    <input type="text" id="type" name="type">

    <label for="size">Size:</label>
    <input type="text" id="size" name="size">

    <label for="amenities">Amenities:</label>
    <input type="text" id="amenities" name="amenities">
	<!--FIXME - Fix function and text box (too big )-->
    <label for="sort">Sort:</label>
    <input type="text" id="sort" name="sort">
    <button type="submit">Apply Filters</button>
  </form>
  
  <div class="container">
    <div id="map"></div>

<!-- Display filtered properties on the right side -->
	<div id="filtered-properties">
		<h2>All Properties</h2>
		<ul>
		<!-- <% console.log(properties); %> -->
		<% for (const property of properties) { %>
            <li class="property-item">
                <!-- Display property image on the left -->
				<a href="<%= property.website %>" target="_blank">
                    <!-- Display property image on the left -->
                    <div class="property-image">
                        <img src="<%= property.image_url %>" alt="<%= property.name %> Image">
                    </div>
                </a>

                <!-- Display property details on the right -->
                <div class="property-details">
                    <h3><%= property.name %></h3>
                    <h4><%= property.address.street %>, <%= property.address.city %>, <%= property.address.state %></h4>
                    <p>$<%= property.details.price %> | <%= property.details.bedrooms %> Bed / <%= property.details.bathrooms %> Bath / <%= property.details.square_footage %> sq ft</p>

	
					<% if (property.amenities) { %>
						<p>
							<% if (property.amenities.parking !== undefined) { %>
								Parking: <%= property.amenities.parking ? 'Yes' : 'No' %> |
							<% } %>
							<% if (property.amenities.pets_allowed !== undefined) { %>
								Pets Allowed: <%= property.amenities.pets_allowed ? 'Yes' : 'No' %> |
							<% } %>
							<% if (property.amenities.pool !== undefined) { %>
								Pool: <%= property.amenities.pool ? 'Yes' : 'No' %> |
							<% } %>
							<% if (property.amenities.furnished !== undefined) { %>
								Furnished: <%= property.amenities.furnished ? 'Yes' : 'No' %>
							<% } %>
						</p>
					<% } else { %>
						<p>No amenities specified</p>
					<% } %>		
	
			<p>Type: <%= property.type %></p>

			<p><a href="<%= property.website %>" target="_blank">Website</a></p>
			<!-- Add any other details you want to display -->
			</li>
		<% } %>
		</ul>
	</div>
  
  </div>

  <script type="text/javascript">
    var locations = [
      ['The Retreat at Denton', 33.207359, -97.173492, 4],
      ['UC Denton Student Housing', 33.213482, -97.161842, 5],
      ['Denton Student Apartments', 33.214700, -97.158940, 3],
      ['Uptown', 33.214298, -97.166000, 2],
      ['Forum at Denton Station Student Apartments', 33.200000, -97.131170, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(33.22168245053377, -97.1325830570667),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>
<style>
/* Property information styling */
.property-item {
    display: flex;
    margin-bottom: 20px;
}

.property-image {
    width: 250px;
    margin-right: 20px;
    margin-top: 85px;
}

.property-image img {
    width: 100%;
    height: auto;
}

.property-details {
    flex: 1;
}
/******************/

.dropbtn {
    background-color: #454545;
    color: white;
    padding: 4px 52.5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    font-family: Verdana;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #36ab3a;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Verdana;
    font-size: 14px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: green;}

.show {display: block;}

.navbar {
  overflow: hidden;
  background-color: #F2F2F2;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
}

.navbar .search-container {
  float: left;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #1D5D27;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.navbar .search-container button:hover {
  background: #ccc;
}

.dd {
  float: left;
  overflow: hidden;
}

.dd2 {
  float: left;
  overflow: hidden;
}

.dd3 {
  float: left;
  overflow: hidden;
}

.dd4 {
  float: left;
  overflow: hidden;
}

.dd5 {
  float: left;
  overflow: hidden;
}

.dd6 {
  float: left;
  overflow: hidden;
}

.dd7 {
  float: right;
  overflow: hidden;
}

.dd9 {
  float: left;
  overflow: hidden;
}

.dd .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd2 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd3 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd4 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 35px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd5 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 39px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd6 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 47px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd7 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 50px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.dd9 .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: #1D5D27;
  font-family: Verdana;
  margin: 0;
}

.navbar a:hover, .dd:hover .drop {
  background-color: red;
}

.dd2:hover .drop {
  background-color: red;
}

.dd3:hover .drop{
  background-color: red;
}

.dd4:hover .drop{
  background-color: red;
}

.dd5:hover .drop{
  background-color: red;
}

.dd6:hover .drop{
  background-color: red;
}

.dd7:hover .drop{
  background-color: red;
}

.dd9:hover .drop{
  background-color: red;
}

.dc {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 167px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc a:hover {
  background-color: #ddd;
}

.dc2 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 91px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc2 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc2 a:hover {
  background-color: #ddd;
}

.dc3 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 94px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc3 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc3 a:hover {
  background-color: #ddd;
}

.dc4 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc4 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc4 a:hover {
  background-color: #ddd;
}

.dc5 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 50px;
  max-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc5 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc5 a:hover {
  background-color: #ddd;
}

.dc6 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc6 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc6 a:hover {
  background-color: #ddd;
}

.dc7 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 40px;
  max-width: 128px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc7 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc7 a:hover {
  background-color: #ddd;
}

.dc9 {
  display: none;
  position: absolute;
  background-color: #36ab3a;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dc9 a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Verdana;
}

.dc9 a:hover {
  background-color: #ddd;
}

.dd:hover .dc {
  display: block;
}

.dd2:hover .dc2 {
  display: block;
}

.dd3:hover .dc3 {
  display: block;
}

.dd4:hover .dc4 {
  display: block;
}

.dd5:hover .dc5 {
  display: block;
}

.dd6:hover .dc6 {
  display: block;
}

.dd7:hover .dc7 {
  display: block;
}

.dd9:hover .dc9 {
  display: block;
}

input[type="button"] {
  background-color: #454545;
  color: white;
  padding: 4px 52.5px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-family: Verdana;
  margin: -20px 1220px;
}

body {
  background-color: #454545;
  background-image: url("top.png");
  background-repeat: no-repeat;
}

img {
  display: block;
  margin:-60px auto;
}

/* Style for map */
.container {
      display: flex;
    }

    #map {
      width: 50%;
      height: 100vh;
      float: left;
    }

    /* Style for the filtered properties (scrollable if needed) */
    #filtered-properties {
      width: 50%;
      height: 100vh;
      overflow-y: auto; /* Enable vertical scrolling if needed */
      padding: 20px;
      float: right;
    }

    /* Additional styles for the filtered properties list */
    #filtered-properties ul {
      list-style-type: none;
      padding: 0;
    }

    #filtered-properties li {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
	}

	#filterForm {
		margin-top: 50px;
	}

  p, h3, h2, h4 {
    color: white;
  }

</style>
</html>
